{% extends 'base.html.twig' %}

{% block title %}Hello PDFController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Ticket {{ ticket.id }}</h1>
    <p>Price : {{ ticket.price }}</p>
</div>
{% endblock %}
